<!DOCTYPE html>
<html lang="ko">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Wonderland</title>

  <!--아이콘-->
  <link href="/src/images/wonderland_logo.png" rel="icon" type="image/x-icon" />

  <!--css-->
  <link rel="stylesheet" href="../shopping/shopping.css">

  <!-- 폰트 -->
  <link rel="preconnect" href="https://fonts.googleapis.com" />
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR&family=Sansita:wght@800&display=swap"
    rel="stylesheet" />

  <!-- Bulma -->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css" />


  <!-- javascript -->
  <script defer type="module" src="./shopping.js"></script>
  <script defer type="module" src="./nav_shopping.js"></script>

  <!--swiper-->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@10/swiper-bundle.min.css" />
  <script src="https://cdn.jsdelivr.net/npm/swiper@10/swiper-bundle.min.js"></script>

</head>

<body>
  <div id="navbar"></div>
  <header>
    <h1 class="logo"><a href="">Wonderland</a></h1>
    <nav>

      <!--메인네비-->
        <div id="gnb-wrap">
          <ul class="gnb-inner">
            <li class="sub-menu-parent" tab-index="1">
              <a class="w_3502" href="">태교용 도서</a>
            </li>
            <li class="sub-menu-parent" tab-index="1">
              <a class="w_3502" href="">놀이용 도서</a>
            </li>
            <li class="sub-menu-parent" tab-index="1">
              <a class="w_3502" href="">어린이 동화</a>
            </li>
            <li class="sub-menu-parent" tab-index="1">
              <a class="w_3502" href="">외국어 동화</a>
            </li>
            <li class="sub-menu-parent" tab-index="1">
              <a class="w_3502" href="">과학 / IT</a>
            </li>
            <li class="sub-menu-parent" tab-index="1">
              <a class="w_3502" href="">미술 / 음악</a>
            </li>
          </ul>
        </div>
      </nav>

  </header>
  <div id="wrap">
    <div class="inner">
      <div class="shopping">
        <div class="info">
          <div class="thumnail">
            <img class="thumnail_img" src="../imgs/thumnail01.jpg" alt="">
          </div>
          <div class="right">
            <div class="title">
              <p>태교용 도서</p>
            </div>
            <div class="intro">
              <p>작은별</p>
              <p class="price"><strong>20,000원</strong></p>
            </div>
            <div class="intro_text">
              <p>작은 별이 여행을 떠나 꿈을 찾아가는 내용입니다.</p>
            </div>
            <div class="buttons">
              <button class="button is-medium bag">장바구니 추가하기</button>
              <button class="button is-medium choice">바로 구매하기</button>
            </div>
          </div>
        </div>
        <div class="content">
          <div class="content_title">
            <h2><strong>상세설명</strong></h2>
          </div>
          <div class="img">
            <img src="../imgs/detail01.jpg" alt="">
          </div>
        </div>
      </div>
    </div>
    </div>

    <div id="footer-wrapper">
      <footer>
          <ul class="footer-ul">
            <li><a href="">회사소개 ｜</a></li>
            <li><a href="">이용약관 ｜</a></li>
            <li><a href="">개인정보 처리방침 ｜</a></li>
            <li><a href="">고객센터</a></li>
          </ul>
          <div class="inform">
            <p>
            (주)원더랜드 ｜대표자명 : 엘리스 ｜사업자등록번호 : 101-01-0101 ｜통신판매업신고 : 서울강남-010<br>
              주소 : 서울특별시 강남구 선릉로 433,신관6층 ｜고객센터 : 3401-2173 (월~금 09:00 ~ 18:00, 토/일 공휴일 휴무) ｜ 이메일 : wonderland@elice.io <br>
              COPYRIGHT © WONDERLAND ALL RIGHTS RESERVED
            </p>  
          </div>
       </footer>


</body>

</html>