<!DOCTYPE html>
<html lang="ko">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Wonderland</title>

  <!--아이콘-->
  <link href="/src/images/wonderland_logo.png" rel="icon" type="image/x-icon" />

  <!--css-->
  <link rel="stylesheet" href="../product/product.css">

  <!-- 폰트 -->
  <link rel="preconnect" href="https://fonts.googleapis.com" />
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR&family=Sansita:wght@800&display=swap"
    rel="stylesheet" />

  <!-- Bulma -->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css" />


  <!-- javascript -->
  <script defer type="module" src="./product.js"></script>

  <!--swiper-->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@10/swiper-bundle.min.css" />
  <script src="https://cdn.jsdelivr.net/npm/swiper@10/swiper-bundle.min.js"></script>

</head>

<body>
  <div id="navbar"></div>
  <header>
    <h1 class="logo"><a href="">Wonderland</a></h1>
    <nav>

      <!--메인네비-->
        <div id="gnb-wrap">
          <ul class="gnb-inner">
            <li class="sub-menu-parent" tab-index="1">
              <a class="w_3502" href="">태교용 도서</a>
            </li>
            <li class="sub-menu-parent" tab-index="1">
              <a class="w_3502" href="">놀이용 도서</a>
            </li>
            <li class="sub-menu-parent" tab-index="1">
              <a class="w_3502" href="">어린이 동화</a>
            </li>
            <li class="sub-menu-parent" tab-index="1">
              <a class="w_3502" href="">외국어 동화</a>
            </li>
            <li class="sub-menu-parent" tab-index="1">
              <a class="w_3502" href="">과학 / IT</a>
            </li>
            <li class="sub-menu-parent" tab-index="1">
              <a class="w_3502" href="">미술 / 음악</a>
            </li>
          </ul>
        </div>
      </nav>

  </header>
  <div id="wrap">
    <div class="inner">
      <div class="title">
        <h2>태교용 도서</h2>
      </div>
      <div class="product_list">
        <div class="list">
          <ul class="book">
            <li>
              <a  href="/src/views/shopping/shopping.html?productId=0001" >
                <div class="thumnail">
                    <img src="https://image.yes24.com/YES24ViewerDatas/Z1191_LT/A11901/B119002/119001261_L/nsve0k193sq2spua01.jpg" alt="">
                </div>
                <div class="text_box">
                  <a href="">과학 추리반 아이들</a>
                  <h3><strong>15000원</strong></h3>
                </div>
              </a>
            </li>
            <li>
              <a  href="/src/views/shopping/shopping.html?productId=0002">
                <div class="thumnail">
                    <img src="https://image.yes24.com/YES24ViewerDatas/Z1089_LT/A10883/B108823/108822391_L/xarv6ph3gcnd7iyb01.jpg" alt="">
                </div>
                <div class="text_box">
                  <a href="">법 만드는 아이들</a>
                  <h3><strong>14000원</strong></h3>
                </div>
              </a>
            </li>
            <li>
              <a  href="/src/views/shopping/shopping.html?productId=0003">
                <div class="thumnail">
                    <img src="https://image.yes24.com/YES24ViewerDatas/Z413_LT/A4123/B41221/41220551_L/ty2brpracvbik4h201.jpg" alt="">
                </div>
                <div class="text_box">
                  <a href="">하루 5분 탈무드 태교 동화</a>
                  <h3><strong>17000원</strong></h3>
                </div>
              </a>
            </li><li>
              <a  href="/src/views/shopping/shopping.html?productId=0001">
                <div class="thumnail">
                    <img src="https://image.yes24.com/YES24ViewerDatas/Z1191_LT/A11901/B119002/119001261_L/nsve0k193sq2spua01.jpg" alt="">
                </div>
                <div class="text_box">
                  <a href="">과학 추리반 아이들</a>
                  <h3><strong>15000원</strong></h3>
                </div>
              </a>
            </li>
            <li>
              <a  href="/src/views/shopping/shopping.html?productId=0004">
                <div class="thumnail">
                    <img src="https://image.yes24.com/YES24ViewerDatas/Z151_LT/A1509/B15085/15084524_L/aod3bubs7hlqvlrf%ED%95%98%EB%A3%A8.jpg" alt="">
                </div>
                <div class="text_box">
                  <a href="">하루 5분 아빠 목소리</a>
                  <h3><strong>16000원</strong></h3>
                </div>
              </a>
            </li>
            <li>
              <a  href="/src/views/shopping/shopping.html?productId=0001">
                <div class="thumnail">
                    <img src="https://image.yes24.com/YES24ViewerDatas/Z1191_LT/A11901/B119002/119001261_L/nsve0k193sq2spua01.jpg" alt="">
                </div>
                <div class="text_box">
                  <a href="">과학 추리반 아이들</a>
                  <h3><strong>15000원</strong></h3>
                </div>
              </a>
            </li>
            <li>
              <a  href="/src/views/shopping/shopping.html?productId=0002">
                <div class="thumnail">
                    <img src="https://image.yes24.com/YES24ViewerDatas/Z1089_LT/A10883/B108823/108822391_L/xarv6ph3gcnd7iyb01.jpg" alt="">
                </div>
                <div class="text_box">
                  <a href="">법 만드는 아이들</a>
                  <h3><strong>14000원</strong></h3>
                </div>
              </a>
            </li>
            <li>
              <a  href="/src/views/shopping/shopping.html?productId=0003">
                <div class="thumnail">
                    <img src="https://image.yes24.com/YES24ViewerDatas/Z413_LT/A4123/B41221/41220551_L/ty2brpracvbik4h201.jpg" alt="">
                </div>
                <div class="text_box">
                  <a href="">하루 5분 탈무드 태교 동화</a>
                  <h3><strong>17000원</strong></h3>
                </div>
              </a>
            </li>
          </ul>
        </div>
      </div>
      <div class="page">
        <a href="./product.html">1</a>
        <a href="./product.html">2</a>
        <a href="./product.html">3</a>
        <a href="./product.html">4</a>
      </div>
    </div>
  </div>

  <div id="footer-wrapper">
    <footer>
        <ul class="footer-ul">
          <li><a href="">회사소개 ｜</a></li>
          <li><a href="">이용약관 ｜</a></li>
          <li><a href="">개인정보 처리방침 ｜</a></li>
          <li><a href="">고객센터</a></li>
        </ul>
        <div class="inform">
          <p>
          (주)원더랜드 ｜대표자명 : 엘리스 ｜사업자등록번호 : 101-01-0101 ｜통신판매업신고 : 서울강남-010<br>
            주소 : 서울특별시 강남구 선릉로 433,신관6층 ｜고객센터 : 3401-2173 (월~금 09:00 ~ 18:00, 토/일 공휴일 휴무) ｜ 이메일 : wonderland@elice.io <br>
            COPYRIGHT © WONDERLAND ALL RIGHTS RESERVED
          </p>  
        </div>
     </footer>


</body>

</html>